<div class="center hero-unit">
	<h1>Welcome to the Filler Content!</h1>
	<h2>
	  This is the home page for the
	  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	  sample application.
	</h2>
	
	<%= link_to "Sign up here", signup_path, class: "button button-primary button-large" %>
</div>

<div class="rails-logo">
	<%= link_to image_tag("rails.png", alt: "Rails", class: "rails-img"), 'http://rubyonrails.org/' %>
</div>